body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #ffbe48;
    font-weight: bold;
}

a:hover {
    color: #d08600;
    text-decoration: none;
}

.container-wrapper {}

.container-wrapper--burgundy {
    background: #9c0000;
    color: #efefef;
}



.alert-container {
    background-color: #9c0000;
}

.callout-container {
    height: 100vh;

    background: url(../images/whiskey-bg.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    top: 50%;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.quotes-container {}

.features-containter {}

.monthlyFavourites {}

/*Page headers start*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    padding-bottom: 50px;
}

.page-header h2 {
    margin-top: 0;
}

/*Page headers ends*/

/*block-dividers-start*/

.block-divider {
    width: 200px;
    height: 1px;
    border: 0px;
}

.block-divider--short {
    width: 150px;
}

.block-divider--burgundy {
    background-color: #9c0000;
}

.block-divider--grey {
    background-color: #444;
}

.block-divider--white {
    background-color: #efefef;
}


/*block-dividers-end*/

/*jumbotron-start*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-family: 'Abril Fatface', cursive;
    color: #efefef;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    /*font-size: 1.25rem;*/
    /*font-weight: 300;*/
    color: #dddede;
    margin: 25px 0px;
}


.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}


/*jumbotron-end*/

/*Content container start*/

.content-container {
    padding-top: 50px;
    padding-bottom: 75px;
}

/*Content container end*/

/*Navbar start */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba (0, 0, 0, .15);
}

.navbar .navbar-toggler {
    border: 0px;
}

/*Navbar ends*/

/*Buttons-start*/

.btn--cta {
    font-weight: bold;
    border-radius: 20px;
    width: 160px;
}

.btn--burgundy {
    color: #efefef;
    background-color: #9c0000;
    border-color: #efefef;
    border-width: 0px;
}

.btn--burgundy:hover,
.btn--burgundy:active,
.btn--burgundy:focus,
.btn--burgundy:active:focus {
    background-color: #dc3545;
}


/*Buttons-end*/

.features {
    text-align: center;
}

.features i {
    color: #d08600;
    margin-bottom: 20px;
    font-size: 45px;
    line-height 45px;
}

.features .btn {
    color: #9c0000;
    background-color: #efefef;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
}

.features .btn:hover {
    color: #efefef;
    background-color: #cc0606;

}

.badge-orange{
    background-color: #cc0606;
}